table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid red;
}
td {
    font-weight: bold;
}
.col {
    width:25%;
    height: 50px;
}
.titre {
    width:50%; 
}
img {
    padding: 10px;
    height: 200px;
    width: 200px;
}
code {
    padding: 50px;
    line-height: 1cm;
}


